<h1>My Books</h1>

{{#each books}}
<img src="{{this.image}}" height="100" />
title: {{this.title}}<br>
authors: {{this.authors}}<br>
<form action="/books/delete-book" method="POST">
    <input type="hidden" name="bookId" value="{{this.id}}">
    <button>Remove from my books</button>
</form>
{{/each}}
