<div class="justify-content-end" >
{{#if userInSession}}
    <br />

    <h2 id='welcome'>Hello, {{userInSession.username}}! <span>😊</span></h2>
    <br />
    <div class="col-md-6 mb-4">
        <img class="rounded-circle" src='{{userInSession.profilePicture}}' alt='Profile picture'
            data-holder-rendered="true" width="250" height="250" />
    </div>
    <br />
    <div class='mb-3' >
        <form action='/user/edit-user' method='GET'>
            <button type='submit' class="btn btn-outline-dark">Edit profile</button>
        </form>
    </div>
</div>
{{/if}}
</div>