<br>
<h2>My Bookclubs</h2> <br>

<form action="create-bookclub" method="GET">
<button type='submit' class="btn btn-outline-dark btn-sm" type="submit" data-toggle="modal" data-target="#create-bookclub">
    Create a Bookclub
</button>
</form>

{{#each bookclubs}}
<div class="card">
  <h5 class="card-header">{{name}}</h5>
  <div class="card-body">
    <h6 class="card-title">{{book}}</h6>
<a href="bookclub-details/{{id}}" class="btn btn-outline-dark btn-sm">View</a>  </div>
</div>
{{/each}}

